.feedback {
    background-color: rgba(237, 237, 237, 1);
    .container__feedback {
        padding: 40px 0;
        .set-condition {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            padding: 0;
            margin-left: -5px;
        }

        .set-condition__stars-container {
            @media (max-width: 767px) {
                margin-bottom: 20px;
            }
            width: 160px;
            height: 24px;
            margin-bottom: 30px;
            background-image: url("../img/posts/satarDefolt.svg");
            background-size: 33px 24px;
            background-repeat: repeat-x;
            position: relative;
            z-index: 0;
        }

        .set-condition__result-container {
            margin-bottom: 5px;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        }

        .set-condition__stars-container input {
            display: none;
        }

        .set-condition__stars-container label {
            height: 24px;
            background-size: 33px 24px;
            background-repeat: repeat-x;
            position: absolute;
            left: 0;
            top: 0;
            cursor: pointer;
        }

        .set-condition__stars-container label:nth-of-type(1) {
            width: 33px;
            z-index: 5;
        }

        .set-condition__stars-container label:nth-of-type(2) {
            width: 66px;
            z-index: 4;
        }

        .set-condition__stars-container label:nth-of-type(3) {
            width: 99px;
            z-index: 3;
        }

        .set-condition__stars-container label:nth-of-type(4) {
            width: 132px;
            z-index: 2;
        }

        .set-condition__stars-container label:nth-of-type(5) {
            width: 165px;
            z-index: 1;
        }

        .set-condition__stars-container label:hover,
        .set-condition__stars-container input:checked + label {
            background-image: url("../img/posts/starActive.svg");
            transition: all 0.4s ease-out;
        }

        .feedback__star {
            @media (max-width: 767px) {
                margin-bottom: 15px;
            }
            font-family: Consolas;
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 10px;
        }
        .feedback__message {
            .feedback__title {
                @media (max-width: 767px) {
                    font-size: 16px;
                    margin-bottom: 10px;
                }
                font-family: Consolas;
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 15px;
            }
            .form {
                @media (max-width: 767px) {
                    row-gap: 10px;
                    flex-direction: column;
                }
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                row-gap: 20px;
                .column {
                    @media (max-width: 767px) {
                        width: 100%;
                    }
                    height: 56px;
                    position: relative;

                    input {
                        min-width: 226px;
                        padding: 26px 20px 9px 20px;
                        border-radius: 6px;
                        outline: none;
                        background-color: #ffffff;
                        height: 100%;
                        width: 100%;
                        font-family: ArialMT;
                        font-size: 14px;
                        color: rgba(34, 34, 34, 1);
                        border: 1px solid rgba(230, 230, 230, 1);
                    }
                    input:focus ~ label,
                    input:valid ~ label {
                        transform: translateY(-12px);
                        font-size: 14px;
                    }
                    label {
                        pointer-events: none;
                        position: absolute;
                        top: 20px;
                        left: 20px;
                        color: rgba(119, 119, 119, 1);
                        pointer-events: none;
                        transition: all 0.3s ease;
                        font-family: ArialMT;
                        font-size: 14px;
                    }
                    .underline {
                        position: absolute;
                        height: 2px;
                        width: 100%;
                        bottom: 0;
                    }
                }
                .dropdown {
                    @media (max-width: 717px) {
                        width: 100%;
                    }
                    min-width: 226px;
                    position: relative;
                }
                .select {
                    font-family: ArialMT;
                    font-size: 14px;
                    background: rgba(255, 255, 255, 1);
                    border: 2px solid rgba(127, 127, 127, 1);
                    color: rgba(34, 34, 34, 1);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 18px 20px;
                    border-radius: 6px;
                    cursor: pointer;
                }
                .selected {
                    color: rgba(119, 119, 119, 1);
                }

                .select-clicked {
                    color: rgba(34, 34, 34, 1);
                }

                .caret {
                    width: 10px;
                    height: 6px;
                    transition: 0.3s;
                }
                .caret-rotate {
                    transform: rotate(180deg);
                }
                .menu {
                    list-style: none;
                    background: rgba(255, 255, 255, 1);
                    box-shadow: 0px 2px 15px 0px rgba(154, 154, 154, 0.5);
                    position: absolute;
                    top: 70px;
                    left: 50%;
                    width: 100%;
                    transform: translateX(-50%);
                    opacity: 0;
                    display: none;
                    transition: 0.2s;
                    z-index: 2;
                }
                .menu li {
                    padding: 14.5px 0px 14.5px 25px;
                    font-family: ArialMT;
                    font-size: 14px;
                    cursor: pointer;
                    color: rgba(34, 34, 34, 1);
                }
                .menu li:hover {
                    background: rgba(237, 237, 237, 1);
                }

                .active {
                    background: rgba(237, 237, 237, 1);
                    position: relative;
                    color: black;
                    &::before {
                        content: "";
                        position: absolute;
                        background: rgba(0, 98, 255, 1);
                        width: 7px;
                        height: 100%;
                        left: 0;
                        top: 0;
                    }
                }

                .menu-open {
                    display: block;
                    opacity: 1;
                    transition: 0.2s;
                }
                .column-area {
                    width: 100%;
                    .input__field {
                        background: rgba(255, 255, 255, 1);
                        border: 1px solid rgba(230, 230, 230, 1);
                        overflow: auto;
                        min-height: 120px;
                        resize: none;
                        width: 100%;
                        padding: 15px 19px;
                        border-radius: 6px;
                        color: rgba(119, 119, 119, 1);
                        font-family: ArialMT;
                        font-size: 14px;
                        line-height: 14px;
                        letter-spacing: 0px;
                    }
                    .input__field:focus {
                        outline: none;
                    }
                }
                .column__btn {
                    @media (max-width: 767px) {
                        width: 100%;
                    }
                    .btn {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: ArialMT, Arial, sans-serif;
                        font-size: 14px;
                        padding: 14px 70px;
                        background: rgba(0, 98, 255, 1);
                        border: none;
                        border-radius: 3px;
                        color: rgba(255, 255, 255, 1);
                        text-transform: uppercase;
                        font-weight: 600;
                        letter-spacing: 0.7px;
                        cursor: pointer;
                        transition: all 0.3s;
                    }
                    .btn:hover {
                        background: rgb(56, 116, 212);
                    }
                }
            }
        }
    }
}
