.title {
    @media (max-width: 767px) {
        font-size: 21px;
        font-weight: 700;
    }
    font-family: Consolas;
    font-size: 28px;
    font-weight: 400;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}
